@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@700&display=swap');

body {
    overflow-x: hidden;
    margin: 0;
    max-width: 1920px;
    width: 100%;
    font: 'Mukta', sans-serif;
}

.content-width {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

a {
    text-decoration: none;
}